/* Orchid admin custom styles */

nav.mb-3 {
    margin-bottom: 0 !important;

    .bg-body-tertiary {
        background-color: #fff !important;
        width: 100%;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.tab-content {
    fieldset {
        .bg-white {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
    }
}